/* Основной контейнер для игры */
body, html {
    overflow: hidden;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

#game {
    position: fixed; /* Изменено на fixed, чтобы контейнер всегда оставался в пределах экрана */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url('../photos/background.png') no-repeat center center;
    background-size: cover;
    z-index: 1000;
}

/* Общие стили для всех игровых объектов */
.star, .bomb, .freeze {
    position: absolute;
    width: 70px; /* Увеличенные размеры элементов */
    height: 70px;
    border-radius: 50%; /* Круглая форма */
    pointer-events: auto; /* Делаем элементы кликабельными */
    background-size: cover; /* Обеспечивает, что изображение будет масштабироваться */
    box-sizing: border-box; /* Учитываем padding и border в размере элемента */
    touch-action: manipulation; /* Улучшение обработки касаний на мобильных устройствах */
    /* transform: translateY(+50%); */
}

/* Стили для звездочек */
.star {
    background-image: url('../photos/star.png'); /* Путь к PNG-файлу для звездочек */
}

/* Стили для бомбочек */
.bomb {
    background-image: url('../photos/bomb.png'); /* Путь к PNG-файлу для бомбочек */
}

/* Стили для синих кружочков */
.freeze {
    background-image: url('../photos/freeze.png'); /* Путь к PNG-файлу для синих кружочков */
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 600px) {
    .star, .bomb, .freeze {
        width: 70px; /* Уменьшенные размеры для маленьких экранов */
        height: 70px;
    }
}

@media (max-width: 400px) {
    .star, .bomb, .freeze {
        width: 60px; /* Еще меньше для очень маленьких экранов */
        height: 60px;
    }
}

/* Стили для отображения счета */
#score {
    position: fixed;
    top: 10px;
    left: 10px;
    color: #ffff; /* Яркий красный цвет текста */
    font-size: 32px; /* Увеличен размер текста */
    font-weight: bold; /* Жирный текст */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Тень текста для объёма */
    z-index: 1010; /* Ставим выше других элементов */
    background: linear-gradient(135deg, #2350A9, #060053); /* Градиент из синего в темно-синий */
    border-radius: 8px; /* Скругленные углы */
    padding: 10px 15px; /* Отступы внутри блока */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Тень блока */
    animation: pulse 2s infinite; /* Анимация пульсации */
}

/* Анимация пульсации */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* Стили для отображения таймера */
#timer {
    position: fixed;
    top: 10px;
    right: 10px;
    color: white; /* Белый цвет текста */
    font-size: 32px; /* Увеличен размер текста */
    font-weight: bold; /* Жирный текст */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Тень текста для объёма */
    z-index: 1010; /* Ставим выше других элементов */
    background: linear-gradient(135deg, #2350A9, #060053); /* Градиент из синего в темно-синий */
    border-radius: 8px; /* Скругленные углы */
    padding: 10px 15px; /* Отступы внутри блока */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Тень блока */
    animation: pulse 2s infinite; /* Анимация пульсации */
}

/* Анимация пульсации */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes star-burst-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

.star.clicked {
    animation: star-burst-animation 0.5s forwards;
}

.particle {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: yellow;
    border-radius: 50%;
    pointer-events: none;
    opacity: 1;
    animation: particle-animation 0.7s forwards;
    transform-origin: center;
}

@keyframes particle-animation {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(var(--x), var(--y));
        opacity: 0;
    }
}
